@model  еуые.Models.Post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pi = ViewBag.PostId;
    string un = ViewBag.UserName;
}


@if (@ViewBag.Check == 0)
{
    <h2>Post Catalog</h2>
    <form method="get" asp-controller="PostController" asp-action="Index">
        <div>
            <label for="searchId">Search the post info by id</label>
            <input type="text" name="searchId" placeholder="Input post id here." title="Id need to be from 1 to 100" />
            <input type="submit" value="Search">
        </div>
    </form>
}
else if (@ViewBag.Check == 1)
{
    <h2>Post specific information</h2>
    <h3> This post was created by @Html.ActionLink(un, "Index", "User", new { searchId = @Model.UserId }, null) </h3>
    <div>Post has title "@Model.Title"</div>
    <div>Post was created at @Model.CreatedAt</div>
    <div>Post has @Model.Likes likes</div>
    <div>Post body: <i>@Model.Body</i></div>
    <div id="accordion">

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Comments List
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    @if (@Model.comments.Count > 0)
                    {
                       <ul>
                            @foreach(var c in Model.comments)
                            {
                                <li>@Html.ActionLink(c.Body, "Index", "Comment", new { searchId = c.Id }, null)</li>
                            }
                       </ul>
                    }
                    else
                    {
                        <strong>Post has no likes at all :( </strong>
                    }
                </div>
            </div>
        </div>
    </div>
    <form method="get" asp-controller="PostController" asp-action="Index">
        <div>
            <label for="searchId">Search the post info by id</label>
            <input type="text" name="searchId" placeholder="Input post id here." title="Id need to be from 1 to 100" />
            <input type="submit" value="Search">
        </div>
    </form>
}
else
{
    <h2>Error</h2>
    <div>Please enter the correct data</div>
    <form method="get" asp-controller="PostController" asp-action="Index">
        <div>
            <label for="searchId">Search the post info by id</label>
            <input type="text" name="searchId" placeholder="Input post id here." title="Id need to be from 1 to 100" />
            <input type="submit" value="Search">
        </div>
    </form>
}

