<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Homework #2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="dropdown navbar-header">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonModel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Models
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonModel">
                    <ul>
                       <li>@Html.ActionLink("User Model", "Index", "User", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Post Model", "Index", "Post", null, new { @class = "dropdown-item" })</li>
                        <li> @Html.ActionLink("Comment Model", "Index", "Comment", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Todo Model", "Index", "Todo", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Adress Model", "Index", "Adress", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            </div>
            <div class="dropdown navbar-header">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonModel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tasks
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonModel">
                    <ul>
                        <li>@Html.ActionLink("Task 1", "Index", "Task1", null, new { @class = "dropdown-item" })</li>
                        <li>@Html.ActionLink("Task 2", "Index", "Task2", null, new { @class = "dropdown-item" })</li>
                        <li> @Html.ActionLink("Task 3", "Index", "Task3", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Task 4", "Index", "Task4", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Task 5", "Index", "Task5", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Task 6", "Index", "Task6", null, new { @class = "dropdown-item" })</li>
                        <li>  @Html.ActionLink("Creativ task", "Index", "AllUsers", null, new { @class = "dropdown-item" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>